# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
venv/
env/
.venv/

# pipx
.local/

# macOS
.DS_Store

# Logs
*.log

# IDEs
.vscode/
.idea/

# Pytest
.pytest_cache/
